@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 349.8 0% 100%;
		--foreground: 349.8 0% 10%;
		--card: 349.8 0% 100%;
		--card-foreground: 349.8 0% 15%;
		--popover: 349.8 0% 100%;
		--popover-foreground: 349.8 95% 10%;
		--primary: 349.8 100% 35.7%;
		--primary-foreground: 0 0% 100%;
		--secondary: 349.8 10% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: 27.8 10% 95%;
		--muted-foreground: 349.8 0% 40%;
		--accent: 27.8 10% 90%;
		--accent-foreground: 349.8 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 349.8 0% 100%;
		--border: 0 0% 93.3%;
		--input: 349.8 0% 10%;
		--ring: 349.8 88.7% 45.3%;
		--radius: 0.9rem;
		--sidebar-background: 350, 0%, 95%;
		--sidebar-foreground: 350, 0%, 9%;
		--sidebar-primary: 350, 100%, 32%;
		--sidebar-primary-foreground: 0, 0%, 100%;
		--sidebar-accent: 28, 10%, 86%;
		--sidebar-accent-foreground: 0 0% 0%;
		--sidebar-border: 0 0% 93.3%;
		--sidebar-ring: 340, 98%, 45%;

		--header-height: 4rem; /* 64px */
	}

	.dark {
		--background: 349.8 10% 10%;
		--foreground: 349.8 0% 100%;
		--card: 349.8 0% 10%;
		--card-foreground: 349.8 0% 100%;
		--popover: 349.8 10% 5%;
		--popover-foreground: 349.8 0% 100%;
		--primary: 349.8 100% 35.7%;
		--primary-foreground: 0 0% 100%;
		--secondary: 349.8 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 27.8 10% 25%;
		--muted-foreground: 349.8 0% 65%;
		--accent: 27.8 10% 25%;
		--accent-foreground: 349.8 0% 95%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 349.8 0% 100%;
		--border: 180 5% 27%;
		--input: 0 0% 100%;
		--ring: 349.8 88.7% 45.3%;
		--radius: 0.9rem;
		--sidebar-background: 350, 10%, 13%;
		--sidebar-foreground: 350, 0%, 100%;
		--sidebar-primary: 350, 100%, 29%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 28, 10%, 21%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 180 5% 27%;
		--sidebar-ring: 340, 98%, 45%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
